@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

.blink {
  animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.timer-padding {
   padding: 10px 10px;
}


.css-1umw9bq-MuiSvgIcon-root {
   height: 30px;
   width: 30px;
}

.bell {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  margin: 2px auto 0;
  margin-right: 5px;
  color: #49525b;
  animation: ring 8s ease-in-out infinite; /* Slowed down animation */
  transform-origin: 50% 4px;
}

@keyframes ring {
  0%, 100% { transform: rotate(0); }
  10% { transform: rotate(10deg); }
  20% { transform: rotate(-10deg); }
  30% { transform: rotate(8deg); }
  40% { transform: rotate(-8deg); }
  50% { transform: rotate(6deg); }
  60% { transform: rotate(-6deg); }
  70% { transform: rotate(4deg); }
  80% { transform: rotate(-4deg); }
  90% { transform: rotate(2deg); }
}